<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <link rel="stylesheet" th:href="@{${serverPath} + '/webjars/pannellum/2.3.2/build/pannellum.css'}"/>
    <link rel="stylesheet" th:href="@{${serverPath} + '/webjars/openlayers/4.3.1/ol.css'}"/>
    <link rel="stylesheet" th:href="@{${serverPath} + '/css/tour-edit.css'}"/>
    <title>Tour Editor</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="fixed-action-btn">
        <a id="save-tour-btn" class="btn-floating btn-large waves-effect waves-light blue pulse">
            <i class="material-icons">save</i>
        </a>
    </div>
    <div id="left-panel">
        <h5 class="card-panel red-text text-lighten-2">
            <span id="tour-name">Tour Name</span>
            <i class="options-right material-icons">menu</i>
        </h5>
        <div id="scene-list">
            <div id="scene-list-container"></div>
        </div>
    </div>
    <div id="center-panel" class="card">
        <div id="pano-container">
            <div id="panorama" class="empty-pano"></div>
            <div id="center-point" class="hide"></div>
        </div>
        <div id="scene-panel" class="center align">
            <a id="first-scene-btn" class="btn-floating waves-effect waves-light btn tooltipped blue">
                <i class="material-icons left">star_border</i>
            </a>
            <a id="set-scene-yaw-pitch-btn" class="btn-floating waves-effect waves-light btn tooltipped blue"
               data-position="right" data-delay="50" data-tooltip="Set as orientation">
                <i class="material-icons left">3d_rotation</i>
            </a>
            <a id="set-north-offset-btn" class="btn-floating waves-effect waves-light btn tooltipped blue"
               data-position="right" data-delay="50" data-tooltip="Set as north">
                <i class="material-icons left">navigation</i>
            </a>
            <a id="delete-scene-btn" class="btn-floating waves-effect waves-light btn tooltipped red"
               data-position="right" data-delay="50" data-tooltip="Delete scene">
                <i class="material-icons left">delete</i>
            </a>
        </div>
    </div>
    <div id="settings">
        <div id="mini-map" class="card"></div>
        <div id="hotspot-pano" class="card">
            <div class="card-content">
                <div class="card-title red-text text-lighten-2">Adjust HotSpot</div>
            </div>
            <div id="hotspot-pano-container" class="empty-pano"></div>
        </div>
        <div id="hotspot-pano-list">
            <ul id="settings-hotspot-list" class="collapsible popout" data-collapsible="accordion"></ul>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal-delete-scene" class="modal">
        <div class="modal-content">
            <h4>Confirm Delete Scene</h4>
            <p>Delete a scene will result in the scene setting and associated hotspots and multi-resolution images
                <strong>permanently removed</strong> from the server. <em>This operation could not be undo.</em></p>
            <p>Please confirm to delete scene <code>xxs.999</code>.</p>
        </div>
        <div class="modal-footer">
            <a id="delete-scene-yes" class="modal-action modal-close waves-effect waves-light btn red">Delete</a>
            <a class="modal-action modal-close waves-effect waves-light btn">Cancel</a>
        </div>
    </div>
    <script th:src="@{${serverPath} + '/webjars/pannellum/2.3.2/build/pannellum.js'}"></script>
    <script th:src="@{${serverPath} + '/webjars/openlayers/4.3.1/ol.js'}"></script>
    <script th:src="@{${serverPath} + '/js/tour-edit.js'}"></script>
</div>
</body>
</html>