<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <link rel="stylesheet" th:href="@{${serverPath} + '/css/tours.css'}"/>
    <title>Groups - Create</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h5 class="card-panel red-text text-lighten-2">Create a Group</h5>
        <div class="row">
            <form class="col s12" th:object="${group}" th:method="POST"
                  th:action="@{${serverPath} + '/groups'}">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate" th:field="*{name}">
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="alias" type="text" class="validate" th:field="*{alias}">
                        <label for="alias">Alias</label>
                    </div>
                </div>
                <div class="row right-align">
                    <button class="btn waves-effect waves-light blue" type="submit">Save
                        <i class="material-icons right">save</i>
                    </button>
                    <a class="btn waves-effect waves-light blue-grey lighten-5 black-text"
                       th:href="@{${serverPath} + '/groups'}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>