<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<body>
<th:block th:fragment="header">
    <header>
        <ul id="upload-dropdown" class="dropdown-content">
            <li>
                <a th:href="@{${serverPath} + '/upload'}" th:class="blue-text">
                    <i class="material-icons">panorama</i>New Tour
                </a>
            </li>
            <li>
                <a th:href="@{${serverPath} + '/upload-exist'}" th:class="blue-text">
                    <i class="material-icons">add_a_photo</i>Existing Tour
                </a>
            </li>
        </ul>
        <ul id="user-dropdown" class="dropdown-content">
            <li>
                <a th:href="@{'/um/login?logout'}" th:class="blue-text" onclick="sessionStorage.clear();">
                    <i class="material-icons">exit_to_app</i>Log out
                </a>
            </li>
            <li>
                <a th:href="@{'/tour-viewer'}" th:class="blue-text">
                    <i class="material-icons">panorama</i>Tour Viewer
                </a>
            </li>
        </ul>
        <nav>
            <div class="nav-wrapper blue">
                <a class="brand-logo" th:href="@{${serverPath}}">
                    <img th:src="@{${serverPath} + '/img/logo.png'}" alt="LeafyJava Logo" /> <span>Panorama Tour Editor</span>
                </a>
                <ul class="right">
                    <li th:class="${#httpServletRequest.getRequestURI() ==  (serverPath + '/tours') ? 'active' : ''}">
                        <a th:href="@{${serverPath} + '/tours'}">Tours</a>
                    </li>
                    <li th:class="${#httpServletRequest.getRequestURI() == (serverPath + '/tasks') ? 'active' : ''}">
                        <a th:href="@{${serverPath} + '/tasks'}">Tasks</a>
                    </li>
                    <li th:class="${#httpServletRequest.getRequestURI() == (serverPath + '/upload') ? 'active' : ''}">
                        <a class="dropdown-button" data-activates="upload-dropdown">
                            Upload<i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-button" data-activates="user-dropdown">
                            <span id="username"></span><i class="material-icons right">account_circle</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <script th:src="@{${serverPath} + '/js/header.js'}"></script>
</th:block>
</body>
</html>