<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<body>
<th:block th:fragment="header">
    <header>
        <ul id="upload-dropdown" class="dropdown-content">
            <li><a th:href="@{/upload}">New Tour</a></li>
            <li><a th:href="@{/upload-exist}">Existing Tour</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper blue-grey">
                <a class="brand-logo" th:href="@{/}">
                    <img th:src="@{/img/logo.jpg}" alt="LeafyJava Logo" />
                </a>
                <ul class="right">
                    <li th:class="${#httpServletRequest.getRequestURI() == '/tours' ? 'active' : ''}">
                        <a th:href="@{/tours}">Tours</a>
                    </li>
                    <li th:class="${#httpServletRequest.getRequestURI() == '/tasks' ? 'active' : ''}">
                        <a th:href="@{/tasks}">Tasks</a>
                    </li>
                    <li th:class="${#httpServletRequest.getRequestURI() == '/upload' ? 'active' : ''}">
                        <a class="dropdown-button" data-activates="upload-dropdown">
                            Upload<i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</th:block>
</body>
</html>