<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="header">
    <header>
        <nav>
            <div class="nav-wrapper blue-grey">
                <a class="brand-logo" th:href="@{/}">
                    <img th:src="@{/img/logo.jpg}" alt="LeafyJava Logo" />
                </a>
                <ul class="right">
                    <li th:class="${#httpServletRequest.getRequestURI() == '/' ? 'active' : ''}">
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li th:class="${#httpServletRequest.getRequestURI() == '/upload' ? 'active' : ''}">
                        <a th:href="@{/upload}">Upload</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</th:block>
</body>
</html>