html,body {
    margin: 0;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    height: calc(100% - 64px);
    width: 100%;
}

.login-container {
    display: table;
    height:100%;
    width:100%;
}
.login {
    display: table-cell;
    vertical-align: middle;
}

.header {
    font-weight: 300;
}

.brand-logo {
    margin-left: 1em;
}

.capitalize {
    text-transform: capitalize;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #f44336;
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
}
ul.dropdown-content {
    width: auto !important;
}
@media only screen and (max-width: 992px) {
    nav .brand-logo {
         left: inherit;
         -webkit-transform: inherit;
         transform: inherit;
    }
}
