html,body {
    margin: 0;
    width: 100%;
    height: 100%;
}

main {
    position: absolute;
    display: flex;
    display: -ms-flex;
    height: calc(100% - 64px);
    width: 100%;
}

.login-container {
    display: table;
    height:100%;
    width:100%;
}
.login {
    display: table-cell;
    vertical-align: middle;
}

.header {
    font-weight: 300;
}

nav .brand-logo {
    margin-left: 1em;
    display: flex;
}
nav .brand-logo img {
    height: 60px;
}
nav .brand-logo span {
    vertical-align: text-bottom;
}

.capitalize {
    text-transform: capitalize;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #f44336;
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
}
nav ul.dropdown-content {
    width: auto !important;
}

.options-right {
    float: right;
    cursor: pointer;
}
.options-right:hover {
    color: #f44336;
}
.options-right:active {
    color: #d32f2f;
}

/* label focus color */
.input-field input:focus + label {
    color: #2196f3 !important;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important
}
input[type=range]::-webkit-slider-thumb {
    background-color: #2196f3;
}
input[type=range]::-moz-range-thumb {
    background-color: #2196f3;
}
input[type=range]::-ms-thumb {
    background-color: #2196f3;
}
/* These are to edit the thumb and the text inside the thumb */
input[type=range] + .thumb {
    background-color: #dedede;
}
input[type=range] + .thumb.active .value {
    color: #2196f3;
}
/* Select Dropdown */
ul.dropdown-content.select-dropdown li span {
    color: #2196f3;
}
/* Pagination active */
.pagination li.active {
    background-color: #2196f3;
}
@media only screen and (max-width: 992px) {
    nav .brand-logo {
         left: inherit;
         -webkit-transform: inherit;
         transform: inherit;
    }
}
