#left-panel {
    width: 250px;
    height: 100%;
    overflow-y: auto;
}

.scene-preview {
    height: 120px;
}

#tour-list-container {
    margin: 10px;
}
#left-panel .card-panel {
    margin: 10px;
    padding: 6px 12px;
}
#left-panel .card {
    margin: 10px;
}

#left-panel .card-title {
    pointer-events: none;
    font-size: medium;
    padding: 0 5px !important;
    background-color: rgba(0,0,0,0.4);
}
#left-panel .card-action {
    padding: 6px 12px;
}
#left-panel .card-action a {
    cursor: pointer;
}
#center-panel {
    width: calc(100% - 650px);
    height: calc(100% - 20px);
    margin: 10px 0;
}
#pano-container {
    position: relative;
    width: 100%;
    height: calc(100% - 56px);
}
#panorama {
    width: 100%;
    height: 100%;
}
#scene-panel {
    margin-top: 10px;
    height: 56px;
    display: flex;
    justify-content: space-around;
}
#center-point {
    border-radius: 50%;
    background-color: rgba(0, 255, 0, 0.8);
    width: 8px;
    height: 8px;
    z-index: 999;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    transform: translate(-50% -50%);
    pointer-events: none;
}
#hotspot-pano {
    width: calc(100% - 20px);
    margin: 10px;
}
#hotspot-pano .card-content {
    padding-top: 8px;
    padding-bottom: 0;
}
.empty-pano {
    background: #f4f4f4 url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="67" height="100" viewBox="0 0 67 100"><path stroke="#ccc" fill="none" d="M33.5,50,0,63,33.5,75,67,63,33.5,50m-33.5-50,67,25m-0.5,0,0,75m-66.5-75,67-25m-33.5,75,0,25m0-100,0,50"/></svg>') repeat;
}

#hotspot-viewer-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#hotspot-viewer-placeholder p {
    text-align: center;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

#hotspot-pano-container {
    height: 180px;
}
#hotspot-pano-list {
    height: calc(100% - 468px);
    overflow-y: auto;
}
#settings {
    width: 400px;
    height: 100%;
}
#mini-map {
    width: calc(100% - 20px);
    height: 200px;
    margin: 10px;
}
.place-marker {
    top: 65px;
    left: .5em;
}
.ol-touch .place-marker {
    top: 80px;
}

.place-marker.active button{
    color: #fafafa !important;
    background-color: #0089ec !important;
}

.place-marker i {
    font-size: 1.5rem;
}

.ol-control button:hover,
.ol-control button:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}

.ol-control button {
    color: black;
    background-color: #fafafa;
    border: 1px solid #e7e7e7;
}

.available-scene:hover {
    cursor: pointer;
}

.custom-hotspot-target {
    width: 14px;
    height: 14px;
    animation: 3s ease-in-out infinite both anim1;
    background-color: rgba(255,255,255,0.2);
    border: 4px solid rgba(255,255,255,0.4);
    border-radius: 50%;
}
.custom-hotspot-target:hover {
    animation: 3s ease-in-out infinite both anim2;
    background-color: rgba(255,255,255,0.0);
    border: 4px solid rgba(255, 130, 0, 0.85);
}

.custom-hotspot span {
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    text-align: center;
    max-width: 200px;
    padding: 5px 10px;
    margin-left: -220px;
    cursor: default;
}
.custom-hotspot:hover span{
    visibility: visible;
}

.custom-hotspot span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #fff;
    bottom: -20px;
    left: -10px;
    margin: 0 50%;
}

@keyframes anim1 {
    from {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

@keyframes anim2 {
    from {
        transform: scale(1);
    }

    25% {
        transform: scale(1.6);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.6);
    }

    to {
        transform: scale(1);
    }
}