<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <link rel="stylesheet" th:href="@{${serverPath} + '/css/tasks.css'}"/>
    <title>Tasks</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h5 class="card-panel red-text text-lighten-2">Tasks</h5>
        <th:block th:replace="fragments/preloader :: preloader('preloader')" />
        <div id="task-list-container" class="row hide">
            <p class="blue-text">
                <span>Most recent 5 tasks</span>
                <em id="last-updated"></em>
            </p>

            <table class="highlight">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Operation</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Started At</th>
                        <th>Ended At</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="fixed-action-btn">
            <a id="refresh-btn" class="btn-floating btn-large waves-effect waves-light blue pulse">
                <i class="material-icons">refresh</i>
            </a>
        </div>
    </div>

    <script th:src="@{${serverPath} + '/js/tasks.js'}"></script>
</div>
</body>
</html>