<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <link rel="stylesheet" th:href="@{/webjars/pannellum/2.3.2/build/pannellum.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/openlayers/4.3.1/ol.css}"/>
    <link rel="stylesheet" th:href="@{/css/pano.css}"/>
    <title>Pano Editor</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div id="left-panel">
        <div id="scene-list">
            <h5 class="card-panel red-text text-lighten-2">Available Scenes</h5>
            <div id="scene-list-container"></div>
        </div>
    </div>
    <div id="pano-container" class="card">
        <div id="panorama" class="empty-pano"></div>
        <div id="scene-panel" class="center align">
            <a id="first-scene-btn" class="waves-effect waves-light btn">
                <i class="material-icons left">star_border</i>
                <span>Set as first scene</span>
            </a>
        </div>
        <div id="center-point" class="hide"></div>
    </div>
    <div id="settings">
        <div id="mini-map" class="card"></div>
        <div id="hotspot-pano" class="card">
            <div class="card-content">
                <div class="card-title red-text text-lighten-2">Adjust HotSpot</div>
            </div>
            <div id="hotspot-pano-container" class="empty-pano"></div>
        </div>
        <div id="hotspot-pano-list">
            <ul id="settings-hotspot-list" class="collapsible popout" data-collapsible="accordion"></ul>
        </div>
    </div>
    <script th:src="@{/webjars/pannellum/2.3.2/build/pannellum.js}"></script>
    <script th:src="@{/webjars/openlayers/4.3.1/ol.js}"></script>
    <script th:src="@{/js/polyfill.js}"></script>
    <script th:src="@{/js/pano.js}"></script>
</div>
</body>
</html>