<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/upload.css}" />
    <title>Upload</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h3 class="red-text text-lighten-2">Upload Panoramic Photos</h3>
        <form id="form-upload" action="#">
            <div class="input-field">
                <input name="name" id="input-tourname" type="text" class="validate">
                <label for="input-tourname">Tour Name</label>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" name="file" id="input-file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" name="fileName" id="input-file-name" placeholder="Supported files: *.zip">
                </div>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Map</span>
                    <input type="file" name="map" id="input-map">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" name="mapName" id="input-map-name" placeholder="Supported files: *.jpg, *.png">
                </div>
            </div>
            <div class="range-field">
                <input name="northOffset" id="input-north-offset" type="range" class="validate" min="-180" max="180" value="0">
                <label for="input-north-offset">North Offset</label>
            </div>
            <div class="form-action">
                <button id="photo-upload" class="btn waves-effect waves-light" type="submit" name="action">Upload
                    <i class="material-icons right">file_upload</i>
                </button>
            </div>
        </form>
    </div>
    <script th:src="@{/webjars/jquery-validation/1.17.0/jquery.validate.min.js}"></script>
    <script th:src="@{/webjars/jquery-validation/1.17.0/additional-methods.min.js}"></script>
    <script th:src="@{/js/upload.js}"></script>
</div>
</body>
</html>