<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <link rel="stylesheet" th:href="@{${serverPath} + '/css/upload.css'}" />
    <title>Upload to Existing Tour</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h3 class="red-text text-lighten-2">Add to Existing Tour</h3>
        <form id="form-upload" action="#">
            <div class="input-field select-field blue-text">
                <select id="select-tour-name" name="name">
                    <option value="" disabled selected>Choose tour</option>
                </select>
                <label for="select-tour-name">Tour Name</label>
            </div>
            <div class="file-field input-field">
                <div class="btn blue">
                    <span>File</span>
                    <input type="file" name="file" id="input-file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate blue-text" type="text" name="fileName" id="input-file-name" placeholder="Supported files: *.zip">
                </div>
            </div>
            <div class="range-field">
                <input name="northOffset" id="input-north-offset" type="range" class="blue-text" min="-180" max="180" value="0">
                <label for="input-north-offset">North Offset</label>
            </div>
            <div class="form-action">
                <div class="progress hide">
                    <div class="determinate" style="width: 0%"></div>
                </div>

                <button id="photo-upload" class="btn waves-effect waves-light blue" type="submit" name="action">Upload
                    <i class="material-icons right">file_upload</i>
                </button>

                <button id="abort" class="btn waves-effect waves-light hide" type="button">Cancel
                    <i class="material-icons right">cancel</i>
                </button>
            </div>
        </form>
    </div>
    <script th:src="@{${serverPath} + '/webjars/jquery-validation/1.17.0/jquery.validate.min.js'}"></script>
    <script th:src="@{${serverPath} + '/webjars/jquery-validation/1.17.0/additional-methods.min.js'}"></script>
    <script th:src="@{${serverPath} + '/js/upload-exist.js'}"></script>
</div>
</body>
</html>